page-sobre {

  .header-sobre {
    background-color: #00c800;
  }

  .footer-sobre {
    background-color: rgba(0, 195, 252, 0.2);
    display: flex;
    justify-content: center;
  }

  button {
    padding: 0 1em !important;
  }

}
